header ul{
    list-style-type: none;
    background-color:rgb(86, 91, 95) ;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    } 

header li{
float: left;
}

header li a{
    color: white;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 12px;
}
header li a:hover{
    background-color: orange;
}
#contenedor{
    background-color: green;
    width: 40%;
} 

/*****************ESTILO DEL ICONO MENU*********/
.fa-bars, .fa-times, input[type="checkbox"]{
    color: white;
    position: absolute;
    top: 15px;
    right: 10px;
    width: 35px;
    height: 35px;
    font-size: 1.8rem;
    opacity: 0;
}
input[type="checkbox"]{
    margin: 0px;
    padding: 0px;
    
}

/****************ESTILOS PARA EL MENU 2***/

#menu_2{
    width: 120px;
    position: absolute;
    right: 0px;
    display: none;
}
/***************MEDIA QUERIES*************/ 

@media only screen and (max-width: 800px){
    .fa-bars{ 
        opacity: 1;
    }

    input:checked~#menu_2{
        display: block;
    }
    input:checked~.fa-times{
        opacity: 1;
    }
    input:not(checked)~.fa-bars{
        display: none;
    }
    #menu_1 ul li{
        opacity: 0;
    }    
    #contenedor{
        width: 100%;
    }
}